<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Game Night</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>What are you playing?</h3>

  <button ion-button (click)="scan()">Scan</button>
  <div *ngIf="scanData">
    <p>Scanned Text: {{scanData.text}}</p>
  </div>

  <hr />

  <div>
    <ion-item *ngFor="let game of games | async">
      {{ game.name }}
    </ion-item>
  </div>
</ion-content>
